{% extends 'market/base.html' %}

{%  block Content %}
    <div class="container">
        <div class="blog">
            <div class="row">
            <div class="col-md-12 blog-content detail">
            <div class="row">
            {%  block Slider %}
            <div id="main-slider" style="width:50%; margin-left: auto; margin-right: auto"> <!-- Slider -->
            <div id="home-slider" class="owl-carousel owl-theme">
            <div class="item">
            <img src="{{ BookItem.bookPicUrl }}" alt="slide-1" class="img-responsive">
            </div>
            <div class="item">
            <img src="{{ BookItem.bookPicUrl }}" alt="slide-2" class="img-responsive">
            </div>
        </div>
    </div> <!-- Slider -->
{% endblock %}

<div class="row">
    <div class="col-md-12 blog-block">
        <h3 class="blog-post-title">{{ BookItem.bookName }}</h3>
            <div class="blog-meta"> Post Date : {{ BookItem.bookPostDate }} </div>
            <div class="row full-text">
            <div class="col-md-12">
            <h3 class="sub-title">Book Price</h3>
            <p>{{ BookItem.bookPrice }}</p>
            </div>
            </div>

            <div class="row full-text">
            <div class="col-md-12">
            <h3 class="sub-title">Book Title</h3>
            <p>{{ BookItem.bookTitle }}</p>
            </div>
            </div>

            <div class="row full-text">
            <div class="col-md-12">
            <h3 class="sub-title">Book Description</h3>
            <p>{{ BookItem.bookDescription }}</p>
            </div>
            </div>

            <div class="row">
            <div class="col-md-6">
            <h3 class="sub-title-lvl-2">Published Date</h3>
            <p>{{ BookItem.bookPublishedDate}}</p>
            </div>
            <div class="col-md-6">
            <h3 class="sub-title-lvl-2">Published Author</h3>
            <p>{{ BookItem.bookPublishedAuthor }}</p>
            </div>
            </div>

            <h3 class="sub-title author">About Author</h3>
            <div class="author-block">
            <div class="row">
            <div class="author-name">
            <h3>
            {{ BookItem.BookAuthor.username}}
            </h3>
            <br>
            <br>
            <div class="author-date">
            Date Joined:
            {{ BookItem.bookAuthor.date_joined}}
            </div>
            <br>
            <br>
            <div class="author-date">
            Email:
            {{ BookItem.bookAuthor.email}}
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
    {% if user.pk == author_pk or admin_user %}
        <a href="{{ BookItem.get_update_url }}" class="btn btn-blue" style="margin-right: 100px">Edit Post</a>
        <a href="{{ BookItem.get_delete_url }}" class="btn btn-blue">Delete Post</a>
    {% endif %}
</div>




{% endblock %}