{% extends 'market/base.html' %}

{% block Content %}
    <div class="container">
      <div class="blog">
        <div class="row">
            <div class="col-md-12 blog-content detail">
                <H1>
                Update Post
                </H1>
                <form
                action="{{ clothing.get_delete_url }}"
                method='post'>
                {% csrf_token %}
                <p>
                    Are you sure that you want to delete post
                    {{ clothing.clothingName }}?
                </p>
                <a href= {% url 'MyClothing' pk=clothing.clothingAuthor.pk %}>Cancel</a>
                <button type="submit">Delete Post</button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}